/* ejemplo1.css HS19011 */

pais {
	background-color:#55D0E6;
}

departamento {
	background-color:grey; 
	display:block;
}

cabecera {
	color:white; 
	display:block;
} 

habitantes {
	color:white; 
	display:block;
}

altura {
	color:white;
	font-size:0.5cm; 
	display:block;
}
