@charset "UTF-8";
/* CSS Document HS19011 */

*{
	margin:0;
	padding:0;
}

fichero {
	background-color:#303845;
	color:white;	
	font-family:Comic Sans, Comic Sans MS, Arial;
}

ficha[id]::before {
	content:"Id: "attr(id)" Fecha: "attr(fechaingreso);
	color:white;
	font-weight:bold;
	display:block;
	text-align:center;
	font-family:Arial;
}

ficha {
	width:700px;
	margin:10px auto;
	padding:10px;
	background-color:#3C4560; 
	border-style:solid;
   	border-color:#EABE3F;
	font-size:1.4em;
	display:block; 
}

nombre::before {
	content:"Nombre: ";
	display:inline;
}

nombre {
	text-align:center;
	display:inline;
} 


apellido {
	text-align:center;
	display:inline;
}

telefono::before {
	content:"Telofono: ";
	display:inline;
}

telefono {
	display:block;
}

email::before {
	content:"Correo: ";
	display:inline;
}

email {
	display:block;
}

UrlWebPersonal::before {
	content:"URL personal: ";
	display:inline;
}

UrlWebPersonal {
	display:block;
}

direccion::before {
	content:"Direccion: ";
	display:inline;
}

direccion {
	display:block;
}

dui::before {
	content:"DUI: ";
	display:inline;
}

dui {
	display:block;
}


isss::before {
	content:"ISSS: ";
	display:inline;
}

isss {
	display:block;
}

afp::before {
	content:"AFP: ";
	display:inline;
}

afp {
	display:block;
}

afp::after {
	content:" - Sucursal: "attr(sucursal);
	display:inline;
}
